#app {
    height: 100%;
}

p {
    font-weight: bold;
}


.modal-form-caption {
  margin-bottom: var(--pf-global--spacer--sm);
}

/**
 *  Place details definition list into a grid, with PF4-like style
 *
 *  Borrowed from cockpit-podman,
 *  https://github.com/cockpit-project/cockpit-podman/blob/75fc8b57fa7a46b0cc74d2007e911fa64e23d6d4/src/podman.scss#L220-L238
 */
.details-list {
  display: grid;
  grid-template-columns: [label] auto [value] 1fr;
  grid-gap: var(--pf-global--spacer--sm) var(--pf-global--spacer--lg);
  align-items: baseline;
  justify-content: left;

  > dt {
    grid-column: label;
    font-size: var(--pf-global--FontSize--sm);
    font-weight: var(--pf-global--FontWeight--semi-bold);
  }

  > dd {
    grid-column: value;
    font-size: var(--pf-global--FontSize--md);
  }
}

/**
 * Styles for mimic the appearance of Cockpit Networking module when managing addresses and routes
 */
.data-list-form {
  li {
    background: var(--pf-global--palette--black-150);
  }

  .btn-sm {
    font-size: var(--pf-global--FontSize--xs);
    padding-left: var(--pf-global--FontSize--xs);
    padding-right: var(--pf-global--FontSize--xs);
  }
}

/**
 * Try to make the status bar looks like in the packagekit module
 *
 * Borrowed from cockpit's file pkg/packagekit/updates.scss.
 */
.content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    z-index: 900;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    min-height: 4rem;

    @media screen and (min-width: 640px) {
        position: sticky;
    }

    &--state {
        /* Make the height similar to the button (2px padding + 1px border) */
        padding: 3px 0;
    }

    &--state {
        flex: 100 1 auto;
        padding-right: 1ex;
    }
}

.network {
    /** Make tabs looks like a navigation component */
    .pf-c-tabs {
        margin: calc(var(--pf-c-page__main-section--PaddingTop) * -1)
           calc(var(--pf-c-page__main-section--PaddingRight) * -1)
           var(--pf-c-page__main-section--PaddingTop)
           calc(var(--pf-c-page__main-section--PaddingLeft) * -1);
        padding: var(--pf-c-page__main-section--PaddingTop)
           var(--pf-c-page__main-section--PaddingRight)
           0
           var(--pf-c-page__main-section--PaddingLeft);
        background: var(--pf-global--Color--light-100);
    }

    .pf-c-card {
        margin-bottom: var(--pf-global--spacer--md);
    }

    .pf-c-card__title h2 {
        font-size: var(--pf-global--FontSize--2xl);
    }

    .pf-c-tab-content:focus {
        outline: none;
    }
}

.interfaces-list {
    .pf-c-table__toggle .pf-c-button {
        padding-left: var(--pf-global--spacer--xs);
        padding-right: var(--pf-global--spacer--xs);
    }

    tr {
        .status-column {
            color: var(--pf-global--warning-color--200);
            padding: 0;
            width: var(--pf-global--spacer--lg);
            text-align: center;
        }
    }

    tbody tr:hover {
        background: var(--pf-global--BackgroundColor--light-200);
    }

    tbody.pf-m-expanded {
        &:hover {
          background: var(--pf-global--BackgroundColor--light-200);
        }

        tr:not(.pf-c-table__expandable-row) {
            border-bottom: none;
        }
    }
}

.pf-c-switch.interface-status-switcher {
   --pf-c-switch--FontSize: var(--pf-global--FontSize--sm);
   vertical-align: text-bottom;

   .pf-c-switch__label {
     padding-left: calc(var(--pf-global--FontSize--sm) / 2);
   }
}

.pf-c-button.pf-m-link.delete-action {
  color: var(--pf-global--Color--200);

  &:hover {
    color: var(--pf-global--danger-color--200);
  }
}
